<div class="avatar-index">
   <%= image_tag(current_user.avatar.url(:thumb)) %>
</div>
<div>
    <% @posts = Post.all %>
        <% @comments = Comment.all %>
        <% current_user.posts.each do |post| %>   
            <%= image_tag  post.image.url(:medium), class:'img-responsive' %>  
            <br>  
           <div class="name">
            <td>
                 <tr><%= post.user.name %></tr>
              </div>
                 <tr><%= post.description %></tr> 
            </td> 
             <% post.comments.each do |comment| %>
              <b><%= comment.user.name %> </b> 
              <p><%= comment.content %></p> 
              <% end %>
          </div>
            <%= link_to 'Delete',  user_url(post), class: 'btn btn-success',
                              method: :delete,
                              data: {confirm: 'Do you want to remove this post?'} %>   
        <% end %>
  </div>
