<%= form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
	<h4>New Post</h4>
	<div class="form-group text-center">
		<div class="form-group">
			<%=  f.file_field :image %>
    	 </div>

		  <br>
			 <%=  f.label :description %>
			 <%=  f.text_area :description %>
			 <%=  f.hidden_field :user_id, :value => current_user.id %>
			 <%=  f.hidden_field :commit_id, :value => current_user.id %>
		   <div class="form-group text-center">
	     <%= f.submit  class: 'btn-success' %>
		</div>	
	 </div>	
	</div>
<% end%>	
